@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraLight.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.ttf');
  font-display: swap;
}

html[data-theme='dark'] {
  --main-clr-yellow: #54adff;
  --main-bckg-clr: #696969;
  --main-accent-text-clr: #fff;
  --main-clr-blue: #fbc831;
  --main-clr-blue-light: #cce4fb;

  --btn-clr-fon: #c8ae5e;

  --main-clr-gr_blue: linear-gradient(90deg,
      rgba(155, 208, 255, 1),
      rgba(65, 158, 241, 1));

  --menu-clr-green: #00c3ad;

  --form-error-red: #f43f5e;

  --small-shadow: rgba(136, 198, 253, 0.19);
  --big-shadow: rgba(116, 177, 232, 0.24);

  --modal-backdrop: rgba(97, 97, 97, 0.6);

  --default-animation: 400ms ease-in-out;
  --fast-animation: 250ms ease-in-out;
  --slow-animation: 600ms ease-in-out;


  --white-bckg-clr: #afafaf;
  --green-form-clr: green;
  --red-form-clr: red;
  --main-form-clr: #888888;
}

/* ==================light============================== */
html[data-theme='light'] {
  --main-clr-yellow: #ffc107;
  --main-bckg-clr: #fdf7f2;
  --main-accent-text-clr: #111111;
  --main-clr-blue: #54adff;
  --main-clr-blue-light: #cce4fb;

  --btn-clr-fon: #fef9f9;

  --main-clr-gr_blue: linear-gradient(90deg,
      rgba(155, 208, 255, 1),
      rgba(65, 158, 241, 1));

  --menu-clr-green: #00c3ad;

  --form-error-red: #f43f5e;

  --small-shadow: rgba(136, 198, 253, 0.19);
  --big-shadow: rgba(116, 177, 232, 0.24);

  --modal-backdrop: rgba(97, 97, 97, 0.6);

  --default-animation: 400ms ease-in-out;
  --fast-animation: 250ms ease-in-out;
  --slow-animation: 600ms ease-in-out;


  --white-bckg-clr: #ffffff;
  --green-form-clr: green;
  --red-form-clr: red;
  --main-form-clr: #888888;
}



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope';
  background-color: var(--main-bckg-clr);
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.no_scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}
